	<div class="main-wrap clearfix">
		<div class="main-content">
			<div class="main-content-wrap">
				<div class="main-header">
					<span class="main-title">INDEX</span>
					<span class="main-title-sub"></span>
				</div>
				<div class="main-content-wrap-sub">
					<p>
						回答ページと質問ページは要修正<br />
						運営者用回答一覧ページ製作予定
					</p>
					<ul>
						<li><a href="signin.html">ログイン</a></li>
						<li><a href="signin-error.html">ログイン（エラー）</a></li>
						<li><a href="issues.html">問題一覧</a></li>
						<li><a href="issues-01.html">問題詳細</a></li>
						<li><a href="answer.html">回答ページ</a></li>
						<li><a href="question.html">質問ページ</a></li>
					</ul>
				</div>
			</div>
			<!--
<div class="side">
				<div class="side-in">
					<div class="side-in-title">Side Title</div>
				</div>
			</div>
-->
		</div>
	</div>
{{outlet}}
