<div class="main-wrap clearfix">
	<div class="main-content">
		<div class="main-content-wrap">
			<div class="main-header">
				<span class="main-title">INFOMATION</span>
				<span class="main-title-sub"></span>
			</div>
			<div class="main-content-wrap-sub">
				<div class="issues-text">
					test
				</div>
			</div>
		</div>
	</div>
</div>
{{outlet}}
